html,
body {
   padding: 0;
   margin: 0;
   width: 100%;
   box-sizing: border-box;
}

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Ubuntu:wght@300;400&display=swap');
/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

/* Navbar CSS Start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f445;
    color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f00;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: transform 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .navbar-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .navbar-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  /* End Navbar CSS  */

/*Featured post -------- --------------------------------------
----------------------------------------------------------------*/
.line{
    margin-bottom: 10px;
}
.line1{

    width: 40%;
    float: left;
    border: 1px solid ;
    color: #670B78;
}

.feature-heading{
    margin-bottom:1px ;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #263238;
    padding-left: 5px;
}
.center-container {
    
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.image{
    height: 312px;
    max-width: 320px;
}


.profile{
    display: flex;
    align-items: center;
    
   
}
.profile-picture,.name,.date{
    padding: 3px;
}
.name{
    color:#1E1E1E;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.date{
    color: #16161699;
    opacity: 0.6;
    
}


.title{
    color: #263238;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 1px;
    text-decoration: none;
}
.title:hover{
    text-decoration: underline;
}
.article{
    color: #263238;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1px;
}
.article-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding: 2px 12px;
    gap: 10px;
    margin-bottom: 20px
}
.tag{
    background: #F1E7F2;
    border-radius: 100px;
    padding: 2px;
    line-height: 24px;
    font-size: 12px;
    font-family: 'ubuntu';
    width: 100px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    margin: auto 0;
}
.time{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
   

}

.see-more{
font-family: Ubuntu;
font-size: 16px;
color:#670B78;
background: #fff;
border: 1.2px solid #670B78;
border-radius: 100px;
width: 150px;
height: 40px;
margin: auto;

}
.see-more:hover{
    background-color:  #670B78; 
    color: white;
}

@media screen and (max-device-width: 320px){
    .image{
        height: 200px;
        max-width: 220px;
    }
    .title{
        font-size: 15px;
    }
    .article{
        font-size: 12px;
      
    }

}
@media screen and (min-device-width: 1200px) {
  .data{
    margin: 20px;
    display: flex;
  }
  .line1{

    width: 20%;
 
}
.feature-heading,.line{
    margin-left: 20px;
}
}

/*END OF FEATURED POST-------------------------------------------
------------------------------------------------------------------*/

/*COMMUNITY CARE */

.comm-care {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 342px;
}

.comm-care-main {
    width: 100%;
    height: 342px;
    color: #670B78;
    background-color: #F7F7F7;

    display: flex;
    justify-content: space-between;

    font-size: 2rem;
    padding: .5rem;
}

.comm-care-main > div {
    width: 50%;
}

.comm-care-section-1 {
    display: flex;
    align-content: start;
    justify-content: center;
}

.comm-care-section-1 > h3 {
   font-size: 38px;
   font-family: 'Exo 2', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 38px;
   line-height: 36px;
}

.comm-care-section-2 {
    padding: 1.5rem;
    width: 40%;
    font-family: 'Ubuntu';
}

.comm-care-section-2-1 {
   margin-bottom: 20px;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 28px;
   flex: none;
   order: 1;
   flex-grow: 0;
}

.comm-care-section-2-2 {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.comm-care-btn {
   background-color: #670B78;
   color: #fff;

   border: none;
   border-radius: 100px;
   margin-top: 20px;
   padding: 12px 40px;
   gap: 10px;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.comm-care-btn:hover {
    cursor: pointer;
}

/* Style for screens smaller than 480px */
@media only screen and (max-width: 480px) {
   /* CSS styles go here */
 }
 
 /* Style for screens between 480px and 768px */
 @media only screen and (max-width: 600px) {
   /* CSS styles go here */
   .comm-care-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      padding: 5px;
  }

  .comm-care-section-1 > h3 {
   font-size: 20px;
  }

  .comm-care-btn {
      margin-top: 5px;
      margin-top: 10px;
      padding: 6px 20px;
  }
 }

@media only screen and (max-width: 767px) {
   .comm-care-section-1 > h3 {
      font-size: 30px;
   }
   .comm-care-section-2-1 {
      font-size: 15px;
   }
}
 
 /* Style for screens between 768px and 992px */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
   .comm-care-section-1 > h3 {
      f
   }
 }
 
 /* Style for screens larger than 992px */
 @media only screen and (min-width: 992px) {
   /* CSS styles go here */
 }

/* END OF COMMUNITY CARE */

@media screen and (min-width: 602px){
   
   .footer{
      width: 100%;
      position: relative;
   }
   .footer .img-div{
      width: 100%;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      top: -2.08vw;

   }
   .footer .img-div img{
      width: 100%;
      height: 100%;
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
   }
   .footer .img-div img.small{
      display: none;
   }
   .footer .bg1{
      width: 100%;
      background: url(../images/bg2Big.svg) no-repeat center;
      background-size: cover;
   }
   .footer .section{
      width: 100%;
      display: grid;
      align-items: center;
      gap: 7.03vw;
   }
   .footer .section .links{
      width: 86.597vw;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
   }
   .footer .section .links .left_sec {
      width: 16.25vw;
      margin: 0 auto;
      display: grid;
      row-gap: 0.01vw;
   }
   .footer .section .links .left_sec .footer_logo  {
      text-decoration: none;
      cursor: pointer;
      padding:0;
      margin: 0;
      transition: opacity 0.5s ease-in-out;
   }
   .footer .section .links .left_sec .footer_logo:hover  {
      opacity: 0.6;
   }
   .footer .section .links .left_sec .footer_logo img  {
      -o-object-fit: cover;
         object-fit: cover;
      width: 8.27vw;
   }
   .footer .section .links .left_sec p {
      color: #670B78;
      width: 9.18vw;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 1.94vw;
   }
   .footer .section .links .left_sec ul  {
      width: 8.54vw;
      padding:0;
      margin: 0;
   }
   .footer .section .links .left_sec ul a {
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.5s ease-in-out;
   }
   .footer .section .links .left_sec ul a:hover {
      opacity: 0.6;
   }
   .footer .section .links .left_sec ul img {
      width: 2.152vw;
      -o-object-fit: cover;
         object-fit: cover;
   }
   .footer .section .links .right_sec {
      width: 53.61vw;
      margin: 0 auto;
      display: grid;
      align-items: flex-start;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: flex-end;
      justify-self: flex-end;
   }
   .footer .section .right_sec  {
      display: grid;
      -moz-column-gap: 10.55vw;
         column-gap: 10.55vw;
      align-items: center;
      justify-content: center;
   }
   .footer .section .right_sec .articles {
      display: grid;
      row-gap: 1.18vw;
      /* align-items: center; */
      /* justify-content: center; */
   }
   .footer .section .right_sec .articles ul {
      display: grid;
      row-gap: 1.18vw;
      padding: 0;
      margin: 0;
   }
   .footer .section .right_sec .articles ul li {
      list-style-type: none;
      padding: 0;
      margin: 0;
   }
   .footer .section .right_sec .articles ul li  a{
      text-decoration: none;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 1.94vw;
      color: #670B78;
      transition: opacity 0.5s ease-in-out;
      cursor: pointer;
   }
   .footer .section .right_sec .articles ul li  a:hover{
      opacity: 0.6;
   }
   .footer .section .right_sec .articles h3 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 1.25vw;
      line-height: 1.94vw;
      color: #670B78;
   }
   .footer .section .copyright{
      padding: 0;
      margin: 0;
      border-top: 0.069vw solid #670B78;
      padding-top: 1.66vw;
      padding-bottom: 2.77vw;
   }
   .footer .section .copyright p{
      padding: 0;
      margin: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 0.972vw;
      line-height: 1.944vw;
      text-align: center;
      color: #670B78;
      text-align: center;
      margin: 0 auto;
      width: 38vw;
      cursor: pointer;
   }
}
@media screen and (max-width: 601px) {
   .footer .img-div img.big {
      display: none;
   }
   .footer {
      width: 100%;
      position: relative;
   }

   .footer .img-div {
      width: 100%;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      top: -15.8vw;



   }

   .footer .img-div img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
   }
   .footer .bg1 {
      width: 100%;
      background: url(../images/footerImgSmall.svg) no-repeat center;
      background-size: cover;
   }
   .footer .section{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
   }
   .footer .section .links {
      padding-left: 4.533vw;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      row-gap: 4.5vw;
   }
   .footer .section .links .left_sec {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      row-gap: 0.5vw;
      padding: 0;
      margin: 0;

   }
   .footer .section .left_sec .footer_logo {
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.5s ease-in-out;
      display: block;
      width: 100%;
      width: 31.7vw;
   }
   .footer .section .left_sec .footer_logo:hover {
      opacity: 0.6;
   }
   .footer .section .left_sec .footer_logo img {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
   }
   .footer .section .left_sec  p {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 4.8vw;
      line-height: 7.66vw;
      color: #670B78;
      width: 33.8vw;
   }
   .footer .section .left_sec ul{
      display: grid;
      grid-template-columns: 8vw 9.3vw 8.8vw;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 32.8vw;
      justify-items: center;
   }
   .footer .section .left_sec ul a{
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      transition: opacity 0.5 ease-in-out;
   }
   .footer .section .left_sec ul a:hover {
      opacity: 0.6;
   }
   .footer .section .left_sec ul a img {
      width: 100%;
   }
   .footer .section .right_sec{
      display: grid;
      align-items: center;
      row-gap: 4.5vw;
   }
   .footer .section .right_sec .articles{
      display: grid;
      align-items: center;
      row-gap: 1vw;
      padding: 0;
      margin: 0;
   }
   .footer .section .right_sec .articles h3{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 4.8vw;
      line-height: 7.46vw;
      color: #670B78;

   }
   .footer .section .right_sec .articles ul{
      display: grid;
      align-items: center;
      row-gap: 4vw;
      padding: 0;
      margin: 0;
      width: 56vw;
   }
   .footer .section .right_sec .articles ul li{
      list-style: none;
   }
   
   .footer .section .right_sec .articles ul li a{
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.5s ease-in-out;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 4.8vw;
      line-height: 7.46vw;
      color: #670B78;
   }
   .footer .section .right_sec .articles ul li a:hover{
      opacity: 0.6;
   }
   .footer .section .copyright{
      width: 94.73vw;
      margin: 0 auto;
      margin-top: 10.5vw;
      border-top: 0.267vw solid #670B78;
      padding-top: 4vw;
      padding-bottom: 10.5vw;
   }
   .footer .section .copyright p{
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 4.8vw;
      line-height: 7.46vw;
      text-align: center;
      color: #670B78;

   }
}
/* end of footer css */

